.input {
  display: flex;
  font-family: "Times New Roman";
  font-size: 32px;
  margin-right: 20px;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  box-sizing: border-box;

  &__header {
    margin-right: 10px;
  }

  &__field {
    display: block;
    font-family: "Times New Roman";
    font-size: 26.8px;
    min-height: 26.8px;
    height: 100%;
    resize: none;
    min-width: 80px;
    width: 100%;
    box-sizing: border-box;
    overflow-y: hidden;
  }
}