.input {
  display: flex;
  font-family: "Times New Roman";
  font-size: 32px;
  margin-right: 20px;

  &__header {
    margin-right: 10px;
  }

  &__field {
    font-family: "Times New Roman";
    font-size: 32px;
    min-height: 32px;
    width: 800px;
    box-sizing: border-box;
  }
}