.references {
  display: flex;
  flex-direction: column;
  font-family: "Times New Roman";
  font-size: 26.8px;
  margin-bottom: 32px;
  line-height: 1.5;

  &__main {
    margin-bottom: 10px;
  }

  &__header {
    font-size: 32px;
    font-weight: 700;
    align-self: center;
    text-align: center;
  }

  &__subtitles {
    font-style: italic;
    margin-bottom: 8px;
    align-self: center;
    text-align: center;
  }

  &__inputs {
    margin-bottom: 10px;
  }
}