.foot-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 60px;
  font-size: 32px;
  font-family: "Times New Roman";
  line-height: 1.5;
  background-color: #e6f3fe;
  box-sizing: border-box;

}