.scope-contact-work {
  display: flex;
  flex-direction: column;
  font-family: "Times New Roman";
  font-size: 26.8px;
  margin-bottom: 32px;

  &__header {
    font-size: 32px;
    font-weight: 700;
    align-self: center;
    margin-bottom: 20px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .table {
    display: flex;
    flex-direction: column;
    border: 2px black solid;
    width: 800px;

    .line {
      display: flex;

      &:not(:last-child) {
        border-bottom: 2px black solid;
      }

      .cell {
        padding: 5px;

        &:first-child {
          width: 65%;
        }

        &:last-child {
          width: 35%;
        }

        &:not(:last-child) {
          border-right: 2px black solid;
        }
      }
    }
  }
}