.table {
  border: 1px solid grey;
  background-color: white;


  &__header {
    border: 1px solid grey;
    background-color: rgba(0, 0, 0, 0);
    padding: 5px;
    box-sizing: border-box;
  }

  &__cell {
    border: 1px solid grey;
    padding: 5px;
    box-sizing: border-box;
  }
}